<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Campaign</title>
</head>
<body>
    <h1>Delete Campaign</h1>
    <p>
        Are you sure you want to delete "{{ campaign.name }}" campaign?<br>
        Campaign ID is {{campaign.id}}.
    </p>
    <form action="/admin/campaign/remove/{{ campaign.id }}" method="POST">
        <button type="submit">Delete Campaign</button>
        <a href="/">Cancel</a>
    </form>
</body>
</html>
