<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h1>Delete User</h1>
    <p>
        Are you sure you want to delete "{{ user.username }}" user?<br>
        User ID is {{user.id}}.
    </p>
    <form action="/admin/user/remove/{{ user.id }}" method="POST">
        <button type="submit">Delete User</button>
        <a href="/">Cancel</a>
    </form>
</body>
</html>
