<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Campaign</title>
</head>
<body>
    <div>
        <h1>View Campaign</h1>
    </div>
    <div>
        <p>ID: {{ campaign.id }}</p>
        <p>Name: {{ campaign.name }}</p>
        <p>Description: {{ campaign.description }}</p>
        <p>Start Date: {{ campaign.start_date }}</p>
        <p>End Date: {{ campaign.end_date }}</p>
        <p>Budget: {{ campaign.budget }}</p>
        <p>Remaining Budget: {{ campaign.remaining_budget }}</p>
        <p>Visibility: {{ campaign.visibility }}</p>
        <p>Flag: {{ campaign.flag }}</p>
    </div>
    <div>
        {% if campaign.flag=='False' %}
            <a href="/admin/campaign/flag/{{campaign.id}}">Flag</a>
            <a href="/admin/dashboard">Go Back</a>
        {% elif campaign.flag=='True' %}
            <a href="/admin/campaign/unflag/{{campaign.id}}">Unflag</a>
            <a href="/admin/campaign/remove/{{campaign.id}}">Remove</a>
            <a href="/admin/dashboard">Go Back</a>
        {% endif %}
    </div>
</body>
</html>
