<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Request Charts</title>
</head>
<body>
    <div>
        <a href="/sponsor/dashboard" >Profile</a>
        <a href="/sponsor/campaign">Campaigns</a>
        <a href="/sponsor/find">Influencers</a>
        <a href="/sponsor/ad_request">Ad Requests</a>
        <a href="/sponsor/stats">Stats</a>
        <a href="/logout">Logout</a>
    </div>
    <h1>Ad Request Charts</h1>
    <h2>Pie Chart: Distribution of Ad Requests Status</h2>
    <img src="{{ url_for('static', filename='sponsor_pie_chart.png') }}" alt="Pie Chart">

    <h2>Bar Chart: Campaign vs Ad Requests (Pending, Accepted, Rejected)</h2>
    <img src="{{ url_for('static', filename='sponsor_bar_chart.png') }}" alt="Bar Chart">
</body>
</html>
